[submodule "auto-complete"]
	path = auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "site-lisp/slime"]
	path = site-lisp/slime
	url = https://github.com/nablaone/slime.git
[submodule "site-lisp/diminish"]
	path = site-lisp/diminish
	url = https://github.com/emacsmirror/diminish.git
[submodule "magit"]
	path = magit
	url = https://github.com/magit/magit.git
